/* 요소선택자 */
p{
    background-color: hotpink;
    width: 100px;
    height: 100px;
}

#box{
    background-color: dodgerblue;
}

/* 주로 사용은 class를 많이 사용함 id 선택자는 문서에 하나만 가능하기 때문 */
.box{
    background-color: orange;
}

/* 속성 선택자 */
p[name="tiger"]{
    background-color: cyan;
    transition: all 1.7s;
}

p[name="tiger"]:hover{
    background-color: chartreuse;
    transform: translateX(20px) rotate(360deg);
    
}

p[data-sik="hello"]{
    background-color: blueviolet;
}

/* :hover 가상 클래스 선택자 */
#box:hover{
    background-color: salmon;
}